#sim {
    width: 100%;
    height: 100vh;
}

#sgmap {
    width: 49%;
    min-width: 200px;
    padding-bottom: 33.33%;
    display: inline-block;
    position: absolute;
   }

#simpic {
    width: 49%;
    min-width: 200px;
    padding-bottom: 33.33%;
    margin: auto;
}

#uob {
    width: 49%;
}

#bathmap {
    height: 400px;
    width: 49%;
    margin: auto;
    display: inline-block;
}
