@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/*General Formatting*/
body {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    background: #322f30;
    -webkit-font-smoothing: antialiased;
    margin: 20;
    padding: 0;
}

.intextlink {
    text-decoration: underline;
    color: #fff;
}

p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}

h1 {
    width: 100%;
    text-align: center;
}

ul {
    list-style: none;
}

/*NAV BARS*/
/*Main Nav Bar*/
.main-navbar {
    width: 100%;
    margin: auto;
    text-align: center;
    align-content: center;
}

.navbar {
    text-align: center;
    display: inline-block;
    margin: auto;
    padding: 0;
    background-color: #322f30;
    position: relative;
    align-content: center;
    top: 0;
}

.navbar-item {
    float: left;
}

.navbar a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #FFF;
    color: #000000;
}

#educationdropdown:hover > a, #workdropdown:hover > a, #traveldropdown:hover > a, #hobbiesdropdown:hover > a{
    background-color: #fff;
    color: #000000;
}

/*Responsive Nav Bar*/
@media screen and (max-width: 600px) {
    .navbar div.right,
    .navbar div {float: none}
}

/*Dropdown Nav Bar*/
/*Dropdown Button*/
.dropdown {
    padding: 16px;
    border: none;
}

/*Dropdown Content*/
.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #322f30;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #717171;
    color: #fff;
}

.navbar-item:hover .dropdown-content {
    display: block;
}

/*END OF NAV BARS*/

/*FOOTER*/
/*Follow Me*/
footer {
    width: 100%;
    background: #322f30;
    bottom: 0px;
    text-align: center;
}

.followme {
    font-size: 1.4em;
}

.social-icons {
    text-align: center;
    display: inline-block;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #322f30;
    position: relative;
    align-content: center;
    top: 0;
    color: #fff;
    text-decoration: none;
}

.social-icon {
    float: left;
}

.fa-linkedin {
    padding:10px 14px;
    border-radius: 50%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    color: #fff;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-instagram {
    padding:10px 14px;
    border-radius: 50%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    color: #fff;
}
.fa-instagram:hover {
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
}